<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<!-- 指定Bean的扫描位置 -->
	<context:component-scan base-package="${package}" />
	
	<bean class="com.thebeastshop.common.spring.SpringAware"/>
	
	<!-- 导入相关的配置文件 -->
	<import resource="classpath:/spring-core/*.xml" />
</beans>